#overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 10000000;
    display: none;
}

#popup {
    min-width: 300px;
    max-width: 400px;
    height: auto;
    padding: 10px;
    position: relative;
    background: #18191c;
    border-radius: 8px;
    z-index: 10000005;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

#close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    color: #fff;
}

.changelog {
    margin-top: 14px;
    text-align: justify;
    text-justify: inter-word;
    padding-bottom: 32px;
}

.credits {
    margin-top: 14px;
    color: #fff;
}

.inline {
    display: inline;
}

.news {
    padding: 32px 0px 24px;
}

.centered {
    text-align: center;
    margin: auto;
}

.colorStandard {
    color: #dcddde;
}

.colorMuted {
    color: #72767d;
}

.colorHeaderPrimary {
    color: #fff;
}

.colorHeaderSecondary {
    color: #b9bbbe;
}

.entryInner {
    font-weight: 500;
}

.title {
    font-weight: 700;
    font-size: 25px;
}

.size16 {
    font-size: 16px;
    line-height: 20px;
}

.changelog {
    margin-top: 14px;
    text-align: justify;
    text-justify: inter-word;
    padding-bottom: 32px;
}

a {
    color: white;
}