/*=================================
-----------------------------------
  SolMusic HTML Template
  Version: 1.0
 ---------------------------------
 =================================*/

/*----------------------------------------*/

/* Template default CSS
/*----------------------------------------*/

html, body {
	height: 100%;
	font-family: Whitney;
	font-weight: 300;
	src: url(https://discordapp.com/assets/6c6374bad0b0b6d204d8d6dc4a18d820.woff) format("woff");
	scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	color: #fff;
	font-weight: 600;
	line-height: 1;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 17px;
	color: #979eb1;
	line-height: 1.8;
	font-weight: 500;
}

img {
	max-width: 100%;
}

input:focus, select:focus, button:focus, textarea:focus {
	outline: none;
}

a:hover, a:focus {
	text-decoration: none;
	outline: none;
}

ul, ol {
	padding: 0;
	margin: 0;
}

code {
	background: #2e3136;
	padding: 2px;
	border-radius: 3px;
	color: white;
}


::-webkit-scrollbar-track {
	background-color: #23272A;
}

::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-thumb {
	background-color: #2C2F33;
	border: 5px solid transparent;
	border-radius: 9px;
	background-clip: content-box;
}



/*---------------------
Helper CSS
 -----------------------*/

.section-title {
	margin-bottom: 60px;
}

.section-title h2 {
	font-size: 60px;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 105px;
	padding-bottom: 105px;
}

.text-white h1, .text-white h2, .text-white h3, .text-white h4, .text-white h5, .text-white h6, .text-white p, .text-white span, .text-white li, .text-white a {
	color: #fff;
}

/*---------------------
Commom elements
 -----------------------*/

/* buttons */

.blueCode code {
	background: #7289DA;
	padding: 2px 7px;
	border-radius: 3px;
	color: white;
	background-blend-mode: screen;
	opacity: 0.85;
}

.site-btn-normal {
	display: inline-block;
	border: none;
	font-size: 14px;
	font-weight: 500;
	min-width: 195px;
	padding: 13px 7px;
	border-radius: 3px;
	text-transform: uppercase;
	background: #7289DA;
	color: #fff;
	line-height: normal;
	cursor: pointer;
	text-align: center;
}

.site-btn-normal:hover {
	color: #fff;
}

.site-btn-normal.sb-c2 {
	background: #23272A;
}

.site-btn {
	display: inline-block;
	border: none;
	font-size: 14px;
	font-weight: 500;
	min-width: 200px;
	min-height: 50px;
	padding: 13px;
	border-radius: 3px;
	background: #7289DA;
	color: #fff;
	line-height: 50px;
	cursor: pointer;
	text-align: center;
}

.site-btn span, .site-btn .icon {
	display: block;
	height: 100%;
	text-align: center;
	position: absolute;
	top: 0;
	color: white;
}
.site-btn span {
	width: 72%;
	line-height: inherit;
	font-size: 14px;
	left: 0;
	transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4), all opacity 1s ease-in-out;
	color: white;
}
.site-btn span:after {
	content: '';
	background-color: #8aa3ff;
	width: 2px;
	height: 70%;
	position: absolute;
	top: 15%;
	right: -1px;
	color: white;
}
.site-btn .icon {
	width: 28%;
	right: 0;
	transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
	color: white;
}
.site-btn .icon .fab {
	font-size: 30px;
	vertical-align: middle;
	transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4), height 0.25s ease;
	color: white;
}
.site-btn .icon .fa-discord {
	height: 36px;
	color: white;
}
.site-btn .icon .fa-check {
	display: none;
	color: white;
}
.site-btn.success span, .site-btn:hover span {
	left: -72%;
	opacity: 0;
	color: white;
}
.site-btn.success .icon, .site-btn:hover .icon {
	width: 100%;
	color: white;
}
.site-btn.success {
	background-color: #27ae60;
}
.site-btn.success .icon .fa-discord {
	display: none;
}
.site-btn.success .icon .fa-check {
	display: inline-block;
}
.site-btn:hover {
	opacity: 0.9;
}
.site-btn:active {
	opacity: 1;
}


/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

/*------------------
Header section
 ---------------------*/

.header-section {
	padding-left: 55px;
	padding-right: 72px;
	background: #23272A;
}

.site-logo {
	display: inline-block;
	padding: 0;
	padding: 44px 15px;
}

.header-right {
	float: right;
	padding: 44px 0;
	margin-left: 130px;
}

.header-right .hr-btn {
	display: inline-block;
	color: #979aa5;
}

.header-right .user-panel {
	display: inline-block;
}

.header-right .user-panel a {
	color: #fff;
	margin: 0 10px;
}

.header-right .user-panel .register {
	color: #99AAB5;
	margin-right: 0;
}

.header-right span {
	color: #23272A;
	display: inline-block;
	padding-left: 9px;
}

.main-menu {
	list-style: none;
	float: right;
}

.main-menu li {
	display: inline-block;
	position: relative;
}

.main-menu li a {
	display: block;
	font-size: 16px;
	color: #ffffff;
	padding: 44px 10px;
	margin-left: 60px;
}

.left-button {
	margin-left: 50px;
}
.flag {
	width: 22px;
	height: 22px;
	padding-bottom: 5px;
}

.button_lang {
	cursor: pointer;
	background-color: #444;
	color: #FFF;
	padding: 1px 10px;
	border-radius: 5px;
	-webkit-transition: background-color .3s ease-in-out;
	-moz-transition: background-color .3s ease-in-out;
	-o-transition: background-color .3s ease-in-out;
	-ms-transition: background-color .3s ease-in-out;
	transition: background-color .3s ease-in-out;
  }

.button_lang:hover, .current_lang {
	background-color: #8aa3ff;	
	-webkit-transition: background-color .3s ease-in-out;
	-moz-transition: background-color .3s ease-in-out;
	-o-transition: background-color .3s ease-in-out;
	-ms-transition: background-color .3s ease-in-out;
	transition: background-color .3s ease-in-out;
  }

.main-menu li a:hover {
	color: #99AAB5;
}

.main-menu li:first-child a {
	margin-left: 0;
}

.main-menu li:hover .sub-menu {
	visibility: visible;
	opacity: 1;
	margin-top: 0;
}

.main-menu .sub-menu {
	position: absolute;
	list-style: none;
	width: 220px;
	left: 60px;
	top: 100%;
	padding: 20px 0;
	visibility: hidden;
	opacity: 0;
	margin-top: 50px;
	background: #fff;
	z-index: 99;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	-webkit-box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.05);
	box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.05);
}

.main-menu .sub-menu li {
	display: block;
}

.main-menu .sub-menu li a {
	display: block;
	color: #000;
	margin-left: 0;
	padding: 5px 20px;
}

.main-menu .sub-menu li a:hover {
	color: #2C2F33;
}

.slicknav_menu {
	display: none;
}

/* ----------------
Concept section
 -------------------*/

 .concept-section p {
	padding-top: 5px;
}

.concept-item {
	padding-top: 35px;
}

.concept-item-special {
	padding-top: 35px;
}

.concept-item-special-2 {
	padding-top: 35px;
}

.concept-item img {
	border-radius: 100px;
	margin-bottom: 15px;
	margin-left: 30px;
	max-width: 128px;
}

.concept-item-special img {
	border-radius: 100px;
	margin-bottom: 15px;
	margin-left: 45px;
	max-width: 128px;
}

.concept-item-special-2 img {
	border-radius: 100px;
	margin-bottom: 15px;
	margin-left: 50px;
	max-width: 128px;
}

/*------------------
Hero section
 ---------------------*/

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.hero-section {
	overflow: hidden;
}

.hs-item {
	height: 724px;
	padding-bottom: 90px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-image: url("../img/background-4.jpg");
}

.hs-item h2 {
	color: #fff;
	font-size: 70px;
	margin-bottom: 25px;
	line-height: 0.9;
	position: relative;
	top: 50px;
	opacity: 0;
}

.hs-item h2 span {
	color: #fff;
}

.hs-item p {
	color: #dbdddf;
	opacity: 0.6;
	margin-bottom: 50px;
	position: relative;
	top: 50px;
	opacity: 0;
}

.hs-item .site-btn {
	position: relative;
	top: 50px;
	margin-bottom: 20px;
	opacity: 0;
}

.hs-item .sb-c2 {
	margin-left: 8px;
}

.hs-item .hs-text {
	padding-top: 90px;
	max-width: 475px;
}

.hr-img img {
	min-width: 602px;
	position: relative;
	left: -34px;
	top: 50px;
	opacity: 0;
	animation: float 6s ease-in-out infinite;
}

.owl-item.active .hs-item img, .owl-item.active .hs-item h2, .owl-item.active .hs-item p, .owl-item.active .hs-item .site-btn, .owl-item.active .hs-item .site-btn.sb-c2 {
	top: 0;
	opacity: 1;
}

.owl-item.active .hs-item img {
	-webkit-transition: all 0.5s ease 0.2s;
	transition: all 0.5s ease 0.2s;
}

.owl-item.active .hs-item h2 {
	-webkit-transition: all 0.5s ease 0.4s;
	transition: all 0.5s ease 0.4s;
}

.owl-item.active .hs-item p {
	-webkit-transition: all 0.5s ease 0.6s;
	transition: all 0.5s ease 0.6s;
}

.owl-item.active .hs-item .site-btn {
	-webkit-transition: all 0.5s ease 0.8s;
	transition: all 0.5s ease 0.8s;
}

.owl-item.active .hs-item .site-btn.sb-c2 {
	-webkit-transition: all 0.5s ease 1s;
	transition: all 0.5s ease 1s;
}

.hero-slider .owl-dots {
	position: absolute;
	bottom: 33px;
	left: calc(50% - 588px);
	max-width: 1176px;
	width: 100%;
	padding-left: 15px;
}

.hero-slider .owl-dots .owl-dot {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-image: url("../img/background-4.jpg");
	margin-right: 10px;
}

.hero-slider .owl-dots .owl-dot.active {
	background: #99AAB5;
}

/* ----------------
Intro section
 -------------------*/

.intro-section p {
	margin-bottom: 35px;
	padding-top: 10px;
}

.intro-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding-right: 7%;
}

/* ----------------
How section
 -------------------*/

.how-section {
	background-color: #23272A;
}

.how-item .hi-icon {
	position: relative;
	width: 57px;
	height: 57px;
	border-radius: 50%;
	background: #7289DA;
	margin-bottom: 25px;
}

.how-item .hi-icon img {
	position: absolute;
	right: -8px;
	bottom: 0;
}

.how-item h4 {
	margin-bottom: 25px;
}

.how-item p {
	font-weight: 400;
	opacity: 0.6;
}

/* ----------------
Contact page
 -------------------*/

 .contact-section {
	overflow: hidden;
}

.form-item {
	padding: 7px;
	background-color: #18191c;
    border-radius: 4px;
    border: 1px solid #040405;
	outline: none;
	color: white;
	resize: none;
}

.long {
	min-width: 325px;
	max-width: 335px;
}

 .contact-item {
	height: 724px;
	padding-bottom: 90px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-image: url("../img/background-4.jpg");
}

 .contact-form{
    background: #18191c;
    margin-top: 10%;
    margin-bottom: 5%;
	width: 45%;
	padding-top: 50px;
	padding-bottom: 50px;
	border-radius: 13px;
}

.contact-form form{
    padding: 10%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #fff;
}

/* ----------------
Responsive
 -------------------*/

.footer-section {
	background-image: url("../img/background-4.jpg");
	padding: 100px 0 85px;
}

.footer-section-dark {
	background: #23272A;
	padding: 100px 0 85px;
}

.footer-widget {
	padding-top: 2px;
}

.footer-widget h2 {
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.footer-widget ul {
	list-style: none;
}

.footer-widget ul li a {
	display: inline-block;
	color: #fff;
	font-size: 14px;
	margin-bottom: 10px;
}

.copyright {
	font-size: 11px;
	font-weight: 500;
	color: #fff;
	padding: 10px 0 25px;
}

.social-links a {
	display: inline-block;
	color: #fff;
	font-size: 18px;
	margin-right: 35px;
}

/* ----------------
Responsive
 -------------------*/

@media (min-width: 1200px) {
	.container {
		max-width: 1176px;
	}
}

/* Medium screen : 992px. */

@media only screen and (min-width: 1200px) and (max-width: 1360px) {
	.header-right {
		margin-left: 50px;
	}
	.main-menu li a {
		margin-left: 25px;
	}
	.main-menu .sub-menu {
		left: 25px;
	}
}

/* Medium screen : 992px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.header-section {
		padding-left: 15px;
		padding-right: 20px;
	}
	.header-right {
		margin-left: 20px;
	}
	.main-menu li a {
		margin-left: 15px;
	}
	.main-menu .sub-menu {
		left: 15px;
	}
	.hr-img img {
		min-width: 500px;
		position: relative;
	}
	.sub-list {
		padding: 70px 15px 50px 90px;
	}
	.category-section .section-title, .playlist-section .section-title {
		float: none;
	}
	.category-links, .playlist-filter {
		text-align: left;
	}
	.playlist-item {
		padding: 0;
	}
	.player-box {
		padding: 70px 80px 80px;
	}
	.similar-song {
		margin-bottom: 70px;
	}
	.artist-details img {
		float: none;
		margin-bottom: 30px;
	}
	.contact-warp {
		padding: 100px 15px 60px 40px;
	}
	.category-item {
		margin: 0;
	}
	.category-section {
		padding: 100px 0;
	}
}

/* Tablet :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.hr-img {
		display: none;
	}
	.slicknav_menu {
		display: block;
		background: transparent;
		margin-top: -60px;
	}
	.slicknav_nav {
		background: #23272A;
		margin-bottom: 35px;
	}
	.slicknav_nav ul {
		margin: 0 0 0 0;
	}
	.slicknav_nav .slicknav_row, .slicknav_nav a {
		padding: 12px 25px;
		margin: 0;
	}
	.slicknav_nav a:hover {
		border-radius: 0;
		color: #99AAB5;
		background: transparent;
	}
	.slicknav_btn {
		position: relative;
		top: -24px;
		background: #23272A;
	}
	.main-menu {
		display: none;
	}
	.header-right {
		display: none;
	}
	.header-right-warp .header-right {
		display: block;
		float: none;
		padding: 0 0 24px;
		margin-left: 0;
	}
	.header-right-warp .header-right span {
		display: none;
	}
	.header-right-warp .header-right .user-panel {
		display: block;
		padding-left: 26px;
	}
	.header-right-warp .header-right .user-panel a {
		display: inline-block;
		padding: 0;
		margin: 0;
	}
	.header-right-warp .header-right .user-panel a:hover {
		background: transparent;
	}
	.header-right-warp .header-right .user-panel .login {
		padding-right: 10px;
	}
	.sub-text {
		margin-bottom: 50px;
	}
	.footer-widget {
		margin-bottom: 40px;
	}
	.category-section .section-title, .playlist-section .section-title {
		float: none;
	}
	.category-links, .playlist-filter {
		text-align: left;
	}
	.playlist-item {
		padding: 0;
	}
	.player-box {
		display: block;
		padding: 77px 90px 100px;
	}
	.wave-player-warp {
		width: 100%;
	}
	.wave-player-warp .songs-links {
		text-align: center;
		padding-top: 0;
		margin-bottom: 40px;
	}
	.tarck-thumb-warp {
		width: 100%;
	}
	.tarck-thumb-warp .tarck-thumb {
		margin: 0 auto;
	}
	.wave-player-info, .wavePlayer_controls {
		text-align: center;
	}
	.similar-song {
		margin-bottom: 60px;
	}
	.playlist-section, .category-section {
		padding: 100px 0;
	}
	.playlist-section .container, .category-section .container {
		max-width: 100%;
	}
	.category-item {
		margin: 0;
	}
	.category-item .ci-link {
		top: 26px;
		bottom: auto;
	}
	.category-item .ci-text {
		position: absolute;
		bottom: 10px;
		left: 20px;
	}
	.map {
		height: 450px;
	}
	.song-details-box ul {
		max-width: 100%;
	}
	.search-form {
		margin-top: 40px;
	}
}

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {
	.hr-img {
		display: none;
	}
	.slicknav_menu {
		display: block;
		background: transparent;
		margin-top: -60px;
	}
	.slicknav_nav {
		background: #23272A;
		margin-bottom: 35px;
	}
	.slicknav_nav ul {
		margin: 0 0 0 0;
	}
	.slicknav_nav .slicknav_row, .slicknav_nav a {
		padding: 12px 25px;
		margin: 0;
	}
	.slicknav_nav a:hover {
		border-radius: 0;
		color: #99AAB5;
		background: transparent;
	}
	.slicknav_btn {
		position: relative;
		top: -24px;
		background: #23272A;
	}
	.main-menu {
		display: none;
	}
	.header-right {
		display: none;
	}
	.header-right-warp .header-right {
		display: block;
		float: none;
		padding: 0 0 24px;
		margin-left: 0;
	}
	.header-right-warp .header-right span {
		display: none;
	}
	.header-right-warp .header-right .user-panel {
		display: block;
		padding-left: 26px;
	}
	.header-right-warp .header-right .user-panel a {
		display: inline-block;
		padding: 0;
		margin: 0;
	}
	.header-right-warp .header-right .user-panel a:hover {
		background: transparent;
	}
	.header-right-warp .header-right .user-panel .login {
		padding-right: 10px;
	}
	.sub-list {
		padding: 60px 15px 50px 30px;
	}
	.sub-text {
		margin-bottom: 50px;
	}
	.footer-widget {
		margin-bottom: 40px;
	}
	.category-section .section-title, .playlist-section .section-title {
		float: none;
	}
	.category-links, .playlist-filter {
		text-align: left;
	}
	.playlist-filter li, .category-links a {
		margin-right: 15px;
	}
	.playlist-item {
		padding: 0;
	}
	.playlist-section {
		padding: 100px 0;
	}
	.artist-details img {
		float: none;
		margin-bottom: 30px;
	}
	.player-box {
		display: block;
	}
	.wave-player-warp {
		width: 100%;
	}
	.wave-player-warp .songs-links {
		text-align: center;
		padding-top: 0;
		margin-bottom: 40px;
	}
	.tarck-thumb-warp {
		width: 100%;
	}
	.tarck-thumb-warp .tarck-thumb {
		margin: 0 auto;
	}
	.wave-player-info, .wavePlayer_controls {
		text-align: center;
	}
	.player-box {
		padding: 75px 40px 80px;
	}
	.similar-song {
		margin-bottom: 60px;
	}
	.songs-details-section {
		padding: 100px 0px 50px;
	}
	.similar-songs-section, .playlist-section {
		padding: 100px 0;
	}
	.similar-songs-section .container, .playlist-section .container {
		max-width: 100%;
	}
	.category-section {
		padding: 105px 0;
	}
	.category-section .container {
		max-width: 100%;
	}
	.header-section {
		padding: 0 15px;
	}
	.category-item {
		margin: 0 0 30px;
	}
	.map {
		height: 450px;
	}
	.contact-warp {
		padding: 100px 40px;
	}
	.songs-links {
		text-align: left;
		padding-top: 40px;
	}
	.song-details-box ul {
		max-width: 100%;
	}
	.search-form {
		margin-top: 40px;
	}
	.long {
		min-width: 75%;
		max-width: 83%;
	}
	.contact-form {
		width: 90%;
		height: 95%;
	}
	
	.left-button {
		margin-left: 0;
	}
	.button_lang {
		margin-left: 25px;
		max-width: 25%;
	}
}

/* Small Mobile :320px. */

@media only screen and (max-width: 479px) {
	.section-title h2, .hs-item h2, .sub-text h2 {
		font-size: 36px;
	}
	.wave-player-info h2 {
		font-size: 24px;
	}
	.header-section {
		padding: 0;
	}
	.player-box {
		padding: 40px;
	}
	.contact-warp {
		padding: 100px 15px;
	}
	.category-item .ci-link {
		top: 26px;
		bottom: auto;
	}
	.category-item .ci-text {
		position: absolute;
		bottom: 10px;
		left: 20px;
	}
	.single_player_container .jp-interface {
		display: block;
	}
	.song-details-box .player_controls_box, .player_controls_box {
		width: 100%;
	}
	.song-details-box .player_bars, .player_bars {
		width: 100%;
	}
	.song-details-box .jp-duration {
		bottom: -19px;
	}
	.jp-duration {
		bottom: -31px;
	}
	.song-details-box .song-item {
		margin-bottom: 40px;
	}
	.player-section, .player-box {
		padding: 15px;
	}
	.social-links a {
		margin-right: 20px;
	}
	.search-form {
		text-align: center;
	}
	.search-form input {
		padding-right: 41px;
	}
	.search-form button {
		position: relative;
		margin-top: 20px;
	}
	.long {
		min-width: 75%;
		max-width: 83%;
	}

	.contact-form {
		width: 90%;
		height: 95%;
	}

	.left-button {
		margin-left: 0;
	}

	.button_lang {
		margin-left: 25px;
		max-width: 25%;
	}
}