<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Suivix - Compatibility Error</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Vous êtes professeur ou peut-être même chef d'entreprise et vous voulez faire l'appel sur discord ? Pas de soucis ! Suivix s'en occupe pour vous.">
    <link id="favicon" rel="icon" href="/ressources/icon.ico" type="image/x-icon">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/404.css">
	
		<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108500515-2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-108500515-2');
	</script>

</head>
<body class="bg-purple">
  
    <div class="stars">
        <div class="central-body">
            <img class="image-404" src="/img/compatibility.svg" width="550px">
        </div>
        <div class="objects">
            <img class="object_rocket" src="/img/rocket.svg" width="40px">
            <div class="earth-moon">
                <img class="object_earth" src="/img/earth.svg" width="100px">
                <img class="object_moon" src="/img/moon.svg" width="80px">
            </div>
            <div class="box_astronaut">
                <img class="object_astronaut" src="/img/astronaut.svg" width="140px">
            </div>
        </div>
        <div class="glowing_stars">
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>

        </div>

    </div>

</body>