#changelog-container {
  width: 720px;
  margin: 0 auto;
  padding-top: 50px;
}

.changelog-centered {
  position: center;
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  -webkit-box-orient: vertical;
}
.logo {
  margin-bottom: 50px;
  text-align: center;
}

.header {
  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.changelog-item {
  text-align: left;
  padding-left: 10%;
  padding-bottom: 7%;
}

hr {
  display:block;
  height:1px;
  border:0;   	
  border-top:1px solid #eeeeee; /* YOUR COLOR HERE */
  margin:1em 0;
  padding:0;
}

.date {
  display: inline-block;
  width: 170px;
  vertical-align: top;
  opacity: .5;
}

.content {
  display: inline-block;
  width: 540px;
}

.title {
  font-size: 28px;
  font-weight: 600;
  line-height: 28px;
  color: white;
}

.name {
  font-size: 36px;
  font-weight: 600;
  line-height: 28px;
  color: #7289DA;
}

.type {
  display: inline-block;
  color: white;
  border-radius: 30px;
  padding: 4px 15px 4px 15px;
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 15px;
  font-weight: bold;
}

.new {
  background-color: #1c9bdd;
}

.improvement {
  background-color: #2cb967;
}

.fix {
  background-color: #ffb400;
}

.info {
  background-color: #f01f1f;
}

.body {
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  color: #99AAB5;
}