<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Suivix - Changelog</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
		content="Are you a professor or maybe even a business manager and you want to take attendance on Discord? No worries! Suivix will take care of it for you.">
    <link id="favicon" rel="icon" href="/ressources/icon.ico" type="image/x-icon">

    <!-- import the webpage's stylesheet -->
    <link rel="alternate stylesheet" href="/dashboard.css" onload="this.rel='stylesheet'"/>
    <link rel="alternate stylesheet" href="/changelog.css" onload="this.rel='stylesheet'"/>
    <link rel="stylesheet" href="/css/style.css"/>

    <script src="https://kit.fontawesome.com/688c07f86b.js" crossorigin="anonymous"></script>

    	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108500515-2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-108500515-2');
	</script>

</head>
<script type="text/javascript">
    let randomNb = Math.floor(Math.random() * (6 - 1 + 1) + 1);
    let randomBg = `<img src="/ressources/backgrounds/background-${randomNb}.jpg" alt=""></div>`

</script>

<body>
	<!-- Header section -->
	<header class="header-section clearfix">
		<a href="#" class="site-logo">
			<img src="img/logo.png" alt="">
		</a>
		<ul class="main-menu">
			<li><a href="https://suivix.xyz/en"><i class="fas fa-home"></i> Home</a></li>
			<li><a href="https://suivix.xyz/en#thanks"><i class="fas fa-thumbs-up"></i> Thanks</a></li>
			<li><a href="https://suivix.xyz/en/contact"><i class="fas fa-comment-dots"></i> Contact Me</a></li>
            <li><a href="https://discord.gg/xRNEzGM"><i class="fa fa-cog"></i> Support</a></li>
            <li><a href="https://utip.io/mw3y"><i class="fas fa-donate"></i></i> Donate</a></li>
			<li id="fr_click" class="button_lang left-button" onclick="window.location.href = 'https://suivix.xyz/fr/changelog'">
				<img src="/img/fr.svg" class="flag"> French</li>
			<li id="en_click" class="button_lang current_lang"><img src="/img/en.svg" class="flag"> English</li>
		</ul>

	</header>
	<!-- Header section end -->
    <div id="app-mount" class="appMount-3lHmkl"><svg viewBox="0 0 1 1" aria-hidden="true" class="app-1q1i1E"></svg>
        <div class="rightSplit-2US0xy" style="width: 1920px; height: 1080px;">
            <script>document.write(randomBg)</script>
        </div>
        <div class="theme-dark">
            <div class="changelog-centered">
                <div class="oauth2Wrapper-mHbF5q">
                    <div id="changelog-container">
                        <div class="changelog-item">
                            <div class="content">
                                <div class="name">Historique de Mise à Jour</div>
                                <div class="title">
                                    <hr>Interface Graphique (v. 2.0.3)</div>
                                <div class="type new">Nouveauté</div>
                                <div class="body">Ajout d'une interface graphique pour rendre le bot plus simple
                                    d'utilisation.</div>
                                <div class="type info">Attention</div>
                                <div class="body">Pas de panique ! Vous préférez la commande en une ligne ?<br>Elle
                                    fonctionne toujours mais pour l'exécuter vous devrez désormais taper
                                    <code>!suivixcmd</code></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<footer class="footer-credits colorMuted-HdFt4q size12-3cLvbJ entryInner-2hiMQJ">
    <script type="text/javascript">
        document.write(new Date().getFullYear());
    </script> - Made with ❤ by MΛX - Suivix®</footer>

</html>